h1 {
	text-align: center;
}

form {
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

input[type="number"] {
	width: 50px;
}

input[type="button"] {
	background-color: #4CAF50;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type="button"]:hover {
	background-color: #45a049;
}
